PORT=5000
MONGO_URI=mongodb+srv://riyazulislamraj0_db_user:bPEHXKgkANaAtJXH@cluster0.ghqvil3.mongodb.net/?appName=Cluster0
MONGO_USERNAME=riyazulislamraj0_db_user
MONGO_PASSWORD=bPEHXKgkANaAtJXH
CLIENT_URL=http://localhost:5173
